*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* landing page style */

.landing-container{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background-color: #E554731A;
    align-items: center;
}

.landing-info{
    padding: 200px 0px 0px 240px;

}

.landing-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800px;
}

.landing-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
    margin: 30px 0px;
}

.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600px;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    box-shadow: -9px -7px 17px #130000;
}

.btn:hover{
    background-color: #FFF;
    color: #E55473;
}

.landing-img{
    padding: 140px 70px 0px 0px;

}

/* main section style */
.radius-card{
    margin: 100px 240px; /*main small size*/
}

.radius-card-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
}

.radius-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
}

.radius-card-images{
    margin: 100px 240px;
    display: flex;
    gap: 30px;
}



.flower-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700px;
    line-height: 35px;
    text-decoration-line: underline;

}

.radius-img-1{
    background-color: #0597A026;
    width: 450px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    padding: 10px;
    padding: 20px 5px 0px 5px;
}

.radius-img-2{
    background-color: #A7216226;
    width: 450px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    padding: 10px;
    padding: 20px 5px 0px 5px;
}

.radius-img-3{
    background-color: #477D1126;
    width: 450px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    padding: 20px 5px 0px 5px;
}

/* Hot-deal section style */
.hot-deal-container{
    display: flex;
    height: 60vh;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    padding: 100px 240px;
    margin-bottom: 100px;
}

.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800px;

}

.off-rad{
    color: #E55473;
}

.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    margin: 10px 0px;
}

.btn-2{
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
}